h1 {
  background-color: rgb(242, 193, 141);
  color: white;
}

#Signup {
  text-decoration: none;
  background-color: #808080;
  color: white;
}
#Login {
  text-decoration: none;
  background-color: #808080;
  color: white;
}
